/*General App Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
  background: #eee;
  color: #333;
}

.wrapper {
  min-height: 100vh;
  margin-bottom: -27px;
  padding-bottom: 30px;
}


/* form styles */
.form-control {
  background-color: #eee;
  outline: none;
  border: 0;
  border-bottom: 1px solid lightgray;
}

.form-control:focus {
  box-shadow: none;
  background-color: #eee;
  border-bottom: 3px solid rgba(0, 0, 0, 0.8);
}

.input-group {
  margin-bottom: 15px;
}
.input-group-addon {
  border-bottom: 1px solid lightgray;
  background-color: #eee;
}
.icon {
  padding: 12px 0 0 10px;
}


/*All button Styles*/

.btn {
  border: none;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #e4e4e4;
  margin-top: 10px;

}

.btn:hover {
  background-color: black;
  color:white
}

.btn:active {
  outline: none;
  box-shadow: none;
  border-color: none;
}
.btn:focus {
  outline: 0;
  box-shadow: none;
}


/*Message styles*/
.error-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: red;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
.success-message {
  width: 100%;
  display: inline-block;
  padding: 5px;
  background: green;
  color: #fff;
  text-align: center;
  margin: 0.5rem 0;
}
/*Navbar style*/
.dropdown-item:hover {
  color: white !important;
  background-color: black;
}
/*404 page styles*/
.d-block {
  margin-top: 100px;
}
.main-pics {
  height: 300px;
  width: 300px;
}
/*General Styles Ends*/
