.home{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
    width: 250px;
    height: 250px;
    font-size: 45px;
    color: black;
    font-family: cursive;
    /* border: 1px solid black; */

}



#title {
  /* font-family: "Arial Black", sans-serif; */
  
  text-align: center;
  font-size: 150px;
  letter-spacing: -1px;
  color: rgb(0, 0, 0);
  font-family: cursive; 
  font-weight: 900;
 }

#titlebox {
 z-index: 1;
}




#box {
       background-image:  url("image.png");
    }
   