/* Profile Page Styles*/
.card-profile{
  margin-top: 3.125rem;
}
.user-details {
  text-align: center;
}
.center-button,  .text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.button-sub {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profile-userpic {
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  width: 50%;
}

.card-space{
  margin-bottom: 20px;
}