.team-card{
    background: linear-gradient(
     white, white 50%, rgb(122, 122, 122) 50%, #333
  );
  background-size: 100% 200%;
  transition: all 0.2s ease;
}

.team-card:hover {
    background-position: 100% 100%;
    cursor: pointer;
    color: white;
  }

.team-card img{
    width:3.5rem !important
}

.team-card img{
  height: 3.75rem;
  width: 6.25rem;
}

.img-fluid {
  width: 100% !important;
}
